{% extends "news/base.html" %}

{% block titleBlock %}
首页-新经资讯
{% endblock %}

{% block scriptBlock %}  <!--index.js负责新闻列表向下滚动刷新-->
<script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block categoryBlock %}  <!--只有首页才有category模块-->
<ul class="menu fl">  <!--menu fl类，控制不同类按钮被点击后，局部刷新操作-->
    {% for category in data.categories %}
        {% if loop.index == 1 %}
            <li class="active" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
        {% else %}
            <li data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block contentBlock %}
<ul class="list_con fl"> <!--index.js用for循环实现新闻列表-->
</ul>
{% endblock %}

